<!DOCTYPE HTML>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, viewport-fit=cover">
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="format-detection" content="telephone=no" />
  <meta name="referrer" content="never">
  <title>
    <%=title%>
  </title>
  <style>
    html,
    body {
      margin: 0;
      background-color: #f8f1e3;
    }

    @font-face {
      font-family: 'Tiempos Text';
      src: url('/assets/TiemposText.woff2') format('woff2');
      font-weight: normal;
      font-style: normal;
    }

    img,
    video,
    table {
      display: block;
      max-width: 100%;
    }

    .p {
      margin: 30px 23px;
      color: rgb(36, 36, 36);
      font-size: 20px;
      line-height: 36px;
      text-size-adjust: 100%;
      -webkit-font-smoothing: antialiased;
      font-family: "Tiempos Text", serif;
      word-break: break-word;
    }

    .word {
      position: relative;
      display: inline-block;
    }

    .translate {
      word-break: keep-all;
      font-size: 12px;
      position: absolute;
      line-height: 16px;
      left: 0;
      top: -6px;
      width: 100%;
      overflow-y: hidden;
      height: 16px;
      overflow-x: scroll;
    }
  </style>
</head>

<body>
  <h2>
    <%=title%>
  </h2>
  <div>
    <%-content%>
  </div>

  <script src="/assets/jquery-3.3.1.min.js"></script>
  <script>
    $(function () {
      let map = {};

      $('.J-word').click(function () {
        const $elem = $(this);
        const $translate = $elem.find('.J-translate');
        const translateText = $translate.text();
        const word = $elem.attr('data-word').trim();

        if (translateText === '' || translateText == null) {
          if (map[word]) {
            $translate.text(map[word]);
          } else {
            $.ajax({
              method: 'POST',
              crossDomain: true,
              url: 'https://sy2bnjwp1a.leanapp.cn/api/v1/poliwag/translate',
              data: {
                text: word,
                type: 'word',
              },
              dataType: 'json',
              success: function (result) {
                const text = result.data.text || '';
                $translate.text(text);
                map[word] = text;
              },
            });
          }
        } else {
          $translate.text('');
        }
      });
    });
  </script>
</body>
</html>
