<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, viewport-fit=cover">
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="format-detection" content="telephone=no"/>
    <meta name="referrer" content="never">
    <title><%=title%></title>
    <style>
      img, video, table {
        display: block;
        max-width: 100%;
      }

      * {
        word-break: break-all;
      }

      body {
        font-family: Georgia, "Helvetica Neue", PingFang-SC-Regular, Helvetica, sans-serif;
        line-height: 2.1;
        color: #4a4a4a;
        text-align: justify;
        word-break: break-word;
      }

      code {
        white-space: pre-wrap
      }
    </style>
  </head>
  <body>
    <h1><%=title%></h1>
    <div>
        <%-content%>
    </div>
  </body>
</html>
