<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>module-test</title>
</head>
<body>
    <input type="text" id="J-text1">
    <br>
    <button id="J-test1">Test Cloud Function</button>
    <br>
    <br>
    <input type="text" id="J-text2">
    <br>
    <button id="J-test2">Test Proxy</button>
    
    <script>
        const $text1 = document.getElementById('J-text1');
        const $text2 = document.getElementById('J-text2');
        const $btn1 = document.getElementById('J-test1');
        const $btn2 = document.getElementById('J-test2');
        const token = '<%=token%>';
    </script>
    <script>
        $btn1.addEventListener('click', () => {
            const name = $text1.value;

            if (name && name !== '') {
                fetch('/module-test', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({
                        token,
                        name,
                    }),
                });
            }
        });

        $btn2.addEventListener('click', () => {
            window.open(process.env.IMAGE_PROXY + encodeURIComponent($text2.value));
        });
    </script>
</body>
</html>
