<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>module-test</title>
</head>
<body>
    <input type="text" id="J-text1">
    <br>
    <button id="J-test1">Test Module Function</button>
    <br>
    <br>
    <input type="text" id="J-text3">
    <br>
    <button id="J-test3">Test Cloud Function</button>
    <br>
    <br>
    <input type="text" id="J-text2">
    <br>
    <button id="J-test2">Test Proxy</button>
    <br>
    <br>
    <input type="text" id="J-text4">
    <br>
    <button id="J-test4">Test Lark</button>
    <br>
    <br>
    <input type="text" id="J-text5">
    <br>
    <button id="J-test5">Test Reader View</button>
    <br>
    <br>
    <input type="text" id="J-text6">
    <br>
    <button id="J-test6">caixin redirect</button>
    <br>
    <br>
    <input type="text" id="J-text7">
    <br>
    <button id="J-test7">github redirect1</button>
    <br>
    <br>
    <input type="text" id="J-text8">
    <br>
    <button id="J-test8">github redirect2</button>
    
    <script>
        const $text1 = document.getElementById('J-text1');
        const $text2 = document.getElementById('J-text2');
        const $text3 = document.getElementById('J-text3');
        const $text4 = document.getElementById('J-text4');
        const $text5 = document.getElementById('J-text5');
        const $text6 = document.getElementById('J-text6');
        const $text7 = document.getElementById('J-text7');
        const $text8 = document.getElementById('J-text8');

        const $btn1 = document.getElementById('J-test1');
        const $btn2 = document.getElementById('J-test2');
        const $btn3 = document.getElementById('J-test3');
        const $btn4 = document.getElementById('J-test4');
        const $btn5 = document.getElementById('J-test5');
        const $btn6 = document.getElementById('J-test6');
        const $btn7 = document.getElementById('J-test7');
        const $btn8 = document.getElementById('J-test8');

        const token = '<%=token%>';
        const imageProxy = '<%=imageProxy%>';
    </script>
    <script>
        $btn1.addEventListener('click', () => {
            const name = $text1.value;

            if (name && name !== '') {
                fetch('/module-test', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({
                        token,
                        name,
                    }),
                });
            }
        });

        $btn3.addEventListener('click', () => {
            const name = $text3.value;

            if (name && name !== '') {
                fetch('/cloud-test', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({
                        token,
                        name,
                    }),
                });
            }
        });

        $btn2.addEventListener('click', () => {
            window.open(imageProxy + encodeURIComponent($text2.value));
        });

        $btn4.addEventListener('click', () => {
            const content = $text4.value;

            if (content && content !== '') {
                fetch('/lark-test', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({
                        token,
                        content,
                    }),
                });
            }
        });

        $btn5.addEventListener('click', () => {
            window.open('/api/v1/readability/view?url=' + encodeURIComponent($text5.value));
        });

        $btn6.addEventListener('click', () => {
            window.open('/api/v1/caixin/redirect?url=' + encodeURIComponent($text6.value));
        });

        $btn7.addEventListener('click', () => {
            const u = new URL($text7.value)
            u.host = 'github.rc1844.workers.dev'
            window.open(u.toString());
        });

        $btn8.addEventListener('click', () => {
            const u = new URL($text8.value)
            u.host = '<%=githubHost2%>'
            window.open(u.toString());
        });
    </script>
</body>
</html>
